html, body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    background-color: #141414;
    color: #fff;
    overflow-x: hidden;
}
.container {
    width: 1600px;
}
h1, h2, h3, p, a {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: rgba(20, 20, 20, 0.5);
    padding-right: 2200px;
    width: 1600px;
}
.logo {
    padding: 15px 0px 15px 0px;
}
.navbar ul {
    display: flex;
    padding: 0px;
    li a {
        padding-right: 60px;
        font-size: 24px;
        font-weight: 300;
        color: #fff;
    }
}
.button {
    font-size: 24px;
    font-weight: 400;
    padding: 12px 69px;
    background: linear-gradient(-80deg, #DB194D, #A12AA0);
    border-radius: 26px;
    color: #fff;
}
.header-bottom {
    background-image: url(../img/фон-тёмный.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 950px;
    margin-top: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
        h1 {
            margin-top: 160px;
            font-weight: 500;
            font-size: 40px;
        }
        .bottom-text {
            margin-top: 120px;
            margin-bottom: 100px;
            width: 365px;
            p {
                font-size: 20px;
                font-weight: 400;
            }
        }
        h3 {
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 52px;
        }
    }
}
header, .block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about {
    margin-bottom: 100px;
}
.about {
    display: flex;
    justify-content: space-between;
    .about-left {
        h2 {
            font-weight: 500;
            font-size: 32px;
            margin-top: 100px;
            margin-bottom: 80px;
        }
        p {
            width: 675px;
            font-size: 20px;
            font-weight: 400;
            padding-bottom: 60px;
        }
    }
}
.chemistry {
    display: flex;
    justify-content: space-between;
    .chemistry-right {
        h2 {
            font-weight: 500;
            font-size: 32px;
            margin-top: 50px;
            text-align: right;
            margin-bottom: 80px;
        }
        p {
            font-size: 20px;
            font-weight: 400;
            text-align: right;
            width: 663px;
            margin-bottom: 40px;
        }
    }
}
.physics {
    display: flex;
    justify-content: space-between;
    .physics-left {
        h2 {
            font-weight: 500;
            font-size: 32px;
            margin-top: 50px;
            margin-bottom: 80px;
        }
        p {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 40px;
            width: 663px;
        }
    }
}
.actronomy {
    display: flex;
    justify-content: space-between;
    .actronomy-right {
        h2 {
            font-weight: 500;
            font-size: 32px;
            margin-top: 50px;
            text-align: right;
            margin-bottom: 80px;
        }
        p {
            font-size: 20px;
            font-weight: 400;
            text-align: right;
            margin-bottom: 40px;
            width: 663px;
        }
    }
}
#objects {
    margin-bottom: 100px;
    h2 {
        font-weight: 500;
        font-size: 32px;
        margin-bottom: 80px;
    }
}
#team {
    h2 {
        font-weight: 500;
        font-size: 32px;
        margin-top: 100px;
    }
}
.team {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.team-left, .team-right {
    margin-top: 80px;
}
.sergey-text {
    margin-left: 100px;
    margin-bottom: 197px;
    margin-top: 50px;
    width: 655px;
    h3 {
        margin-bottom: 60px;
        font-weight: 500;
        font-size: 28px;
    }
    p {
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 24px;
    }
}
.sergey-photo, .lenya-photo, .vanya-photo {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}
.denis-text {
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 293px;
    h3 {
        margin-bottom: 60px;
        font-weight: 500;
        font-size: 28px;
        text-align: right;
    }
    p {
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 24px;
        text-align: right;
    }
}
.denis-photo, .alina-photo {
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
}
.lenya-text {
    margin-left: 100px;
    margin-bottom: 225px;
    margin-top: 50px;
    width: 655px;
    h3 {
        margin-bottom: 60px;
        font-weight: 500;
        font-size: 28px;
    }
    p {
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 24px;
    }
}
.alina-text {
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 225px;
    h3 {
        margin-bottom: 60px;
        font-weight: 500;
        font-size: 28px;
        text-align: right;
    }
    p {
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 24px;
        text-align: right;
    }
}
.vanya-text {
    margin-left: 100px;
    margin-top: 50px;
    width: 655px;
    h3 {
        margin-bottom: 60px;
        font-weight: 500;
        font-size: 28px;
    }
    p {
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 24px;
    }
}
.swiper {
    width: 855px;
    height: 330px;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
#swiper-button {
    color: #DB194D;
}
#pagination .swiper-pagination-bullet-active {
    background: #DB194D;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 10px;
    }
}